addict
pre-commit
trimesh
torch>=2.0,<2.6
torchvision>=0.15,<0.21
tqdm
einops
huggingface_hub
imageio
numpy<2
opencv-python
xformers
open3d
fastapi
unicorn
requests
typer
pillow
omegaconf
evo
e3nn
moviepy
plyfile
pillow_heif
safetensors
